label, input {
  display: inline-block;
  margin-left: 1rem;
}

label{
  margin-bottom: 2px;
}

input {
  margin-bottom: 14px;
  margin-right: 1rem;
}

button {
  padding: 2px 4px;
  margin-bottom: 14px;
}

.email-validation {
  display: none;
}
h2 {
  margin-bottom: 3rem;
}