.hero {
    border: 1px solid darkorange;
    border-radius: 10px;
    margin: 1rem;
    padding: 2rem;
    width: 60%;
    &__details {
        color: yellow;
        padding-top: 2rem;
    }
    p {
        color: darkgreen;
        font-style: italic;
    }
    h2 {
        color: darkorange;
        text-align: right;
        text-decoration: underline;
        padding: 1rem;
    }
    button {
        border-radius: 10px;
        margin-top: 3rem;
        padding: 1rem;
        color: white;
        background-color: rgb(33, 51, 6);
        cursor: pointer;
    }
}