.container {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
  color: #f1f1f1;
  list-style: none;
  line-height: 1.6;
}
.newsletter {
  background-color: orange;
  color: #111;
  margin: 20px 0;
  border-radius: 20px;
  padding: 50px;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out ;
}
.newsletter.active {
  transform: translateX(0);
  opacity: 1;
}